body {
    font-family: Arial, sans-serif;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
}

.portfolio-item {
    width: 300px;
    height: 200px;
    background-color: #8E06F8;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    border-radius: 5px;
    text-align: center;
}

.portfolio-item a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: block;
}